/*Big Size Screens*/
/* Scree sizes for the different devices */
/* 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
 */
@media (min-width: 991px) and (max-width: 1200px)
{
    
}

@media (min-width:780px)
{
	.error .p{font-size:150px;}	
}


/* small Screens & tablets & Smart phone */
@media (max-width: 1025px) 
{
	.navbar .logo
	{
		position: absolute ;
		max-width: 160px;
	}
	.navbar .navbar-collapse .navbar-nav .nav-item .form-inline{
		float: right;
	}
	.navbar .navbar-nav{
		margin: 0 0 0 10px ;
	}
	.navbar .navbar-nav .nav-item{margin-left: 8px }
	.searchTerm{max-width: 80px }
	.intro
	{
		height: 50% ;
	}
	.intro .right-heading .first-span{
		position: absolute;
		right: -177px;
	}
	.intro .right-prag{
		right: 245px;
	}
	.bx-slider .bxslider .row{width: 97%;margin-left: -22px;}
	.bx-slider .bxslider .row .sub-box .square{width: 163px;height: 163px;}
	.bx-slider .bxslider .row .sub-box h1{line-height: 138px;font-size: 24px;}
	.bx-slider .bxslider .row .sub-box-dec{width: 163px;}
	.course-progress,.course-basket{margin-top: 65px;}
	.courses-section .primary-stage .recommend .container .box .decs .rate{font-size: 12px;}
	.courses-section .courses .course .left-des{font-size: 10px;}
	.error{margin-top: 170px;}
	.error .image{height: 176px;}
	.invite .row{width: 510px;}
	.invite .container{padding: 290px;}
	.My-courses .video-section .video{width: 929px;}
	.My-courses .recommend .container{height: 466px;}
	.parent-sign .container, .student-sign .container, .student-login .container, .parent-login .container{margin-top: 120px;}
	.parent-setting .row .profile-overview{height: 415px;}
	.parent-setting .row .myChildren{width:613px;}
	.parent-setting .row .myChildren .desc .h5,.parent-setting .row .myChildren .desc p{margin-right: 42px;}
	.parent-setting .row .inside .img,
	.parent-setting .row .inside{width: 252px !important;}
	.parent-setting .row .profile-setting .form-inline{width: 600px;}
	.parent-setting .row .profile-setting .form-inline > input{width: 46%;}
	.parent-setting .row .profile-setting .full{width: 95% !important;}
	.parent-setting .row .profile-setting .form-inline > textarea{width: 95%;}
	.parent-setting .row .profile-setting .form-inline .btn{margin-top: 20px;}
	.section-steps .container{margin-top: 180px;}
	.section-steps .container .row > div {height: 287px;font-size: 44px;}
	.study-meet .head .img{margin-top: 320px;}
	.study-features{height: 15%;}
	.study-features .overlay{height: 100%;}
	/* .team-work .container .row{width: 98%;} */
	.footer .parg
    {
    	/* width:100%; */
    	margin-bottom:0
	}
	.partner .row .col-lg-4{
		margin-bottom: 20px;
	}
	.partner .row .col-lg-4 > div
	{
		margin: auto ;
		width: 288px ;
	}
	.partner .row .col-lg-4 > div > img{width: 218px;height: 120px;}
	.subscribe .form-control{width: 200px;}
	.statistics p{
		font-size: 35px ;
	}
	.navbar .navbar-collapse .navbar-nav .nav-item
	{
		margin-bottom: 10px;
	}
	.footer .top .contact-links{width: 83%;}
	.footer .top .contact-links > li{text-align: center;}
	.footer .heading,
	.footer .h1,
	.footer .parg
	{
		text-align: center !important;
	}

}
/* 
Small Screens which contain min and max interval
@media (min-width: 768px) and (max-width: 991px) 
{
	

	
} */

/* Mobile & Tablets */
@media (max-width: 767px) 
{
	
	.invite .container{padding: 10px 0 20px 0;}
	.invite .row{width: 182px;}
	.invite .row form > p{text-align: center;}
	.about-us .row .press h1{font-size: 25px;}
	.about-us .row .press .new .img img{width: 175px;height: 175px;}
	.about-us .row .press .new .info{width: 100%;text-align: center;}
	.course-progress .container,.course-basket .container{width: auto;}
	.course-progress .image, .course-basket .image,.course-progress .info button{margin: auto;display: block;margin-bottom: 10px;}
	.course-progress .container .desc,.course-basket .desc,.course-progress .info{text-align: center;}
	.course-basket .delete{font-size: 25px;margin-top: -310px;margin-right: 248px;}
	.course-basket .shop{padding: 0;}
	.courses-section .list-unstyled > li{float: none;}
	.courses-section .course-nav > div:first-child,.courses-section .course-nav > div:last-child{display: block;}
	.courses-section .courses .course .course-desc h2{text-align: center;}
	.courses-section .courses .course .course-desc .course-stage,.courses-section .courses .course .course-details{text-align: center;}
	.courses-section .row{margin: 0;}
	.courses-section .row > div{padding-left: 0;}
	.courses-section .primary-stage .search .stage{margin-top: 20px;}
	.courses-section .primary-stage .search-course{width: 100%;}
	.error .p{font-size: 92px;margin-bottom: 20px;}
	.error .image{width:175px}
	.footer{position: relative !important;}
	.footer .row .col-md-6{margin-top: 20px;}
    .footer .footerDown p,
    .footer .footerDown .socialFooter,
    .footer .footerDown a.link
    {
    	float:none;
    	margin-top:0;
    	margin-bottom:10px
    }
    
    .footer .footerDown a.link
    {
    	display:inline-block
    }
    
   	.footer .footerDown .socialFooter li
    {
    	float:none;
    	margin-top:15px;
    	display:inline-block
    }



}

/* Tablets */
@media (min-width:480px) and (max-width: 767px)
{
	
}

/* Mobile */
@media (max-width: 479px) 
{


	
	
	
}