/* ------------------------------------------ */
/*         General & Basic Styles
/* ------------------------------------------ */

@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body,html
{
	height:100%
}

body
{
	font-family: 'Droid Arabic Kufi', serif;
}
.clear-fix
{
	clear: both;
}

h1,h2,h3,h4,h5,h6
{
	margin-top:0;
	margin-bottom:0
}

ul
{
	margin-bottom:0;
	padding-right:0;
	padding-left:0;
	list-style:none
}

p
{
	margin-bottom:0
}

a
{
	text-decoration:none!important;
	outline:none;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}

a:hover, a:active, a:focus {
    outline: 0;
}

.center-block
{
	float:none
}

.background-cover
{
	-webkit-background-size:cover!important;
	-moz-background-size:cover!important;
	-o-background-size:cover!important;
	background-size:cover!important;
}

input,
textarea,
button,
select
{
	outline:none;
}

input[type="number"]::-webkit-inner-spin-button
{
   -webkit-appearance: none;
    display: none;
}

.modal button.close
{
    position: absolute;
    right: 20px;
    z-index:99;
    color:#fff;
    font-size:20px;
    opacity:1;
    top: 20px;
}

.modal button.close:hover
{
	color:#888D93
}

/* ------------------------------------------ */
/*         Header
/* ------------------------------------------ */
.navbar {background-color: #fff;}
.navbar .logo
{
	max-width: 180px;
    /* position: absolute; */
    right: 28px;
    top: 10px;

}
/* .navbar .navbar-collapse .navbar-nav .nav-item .form-inline{float: right;}  */
.navbar .collapse .active .nav-link{color: #169DD8 !important;border-bottom: 1px solid;float: right;}
.navbar .navbar-nav 
{
	font-family: 'Droid Arabic Kufi', serif;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
    margin: auto;
}
.navbar .navbar-nav .nav-item{
	margin-left: 10px;
}
.navbar .navbar-nav .nav-item .search{ display: flex;
max-width: 180px;
margin-top: 5px;}
.searchTerm {
	max-width: 150px;
    margin: auto;
    display: inline-block;
    border: none;
    border-radius: 0 27px 27px 0;
    padding: 5px;
    border-left: none;
    text-align: right;
    background-color: #EBEBEB;
}
.searchTerm:focus{color: #169DD8;}
.searchButton {
    width: 34px;
    height: 34px;
    border: 1px solid #EBEBEB;
    background: #EBEBEB;
    text-align: center;
    color: #fff;
    border-radius: 27px 0 0 27px;
    font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/

/* .navbar .right-nav{margin-right: 100px;} */
.navbar .right-nav{direction: rtl;}
.navbar .right-nav ul .count-cart{font-size: 16px;
    position: absolute;
    width: 20px;
    left: 175px;
    text-align: center;
    background-color: #414b4f;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
	color: #fff;}
.navbar .right-nav ul .count-bell{font-size: 16px;
		position: absolute;
		width: 20px;
		left: 240px;
		text-align: center;
		background-color: #414b4f;
		height: 20px;
		line-height: 20px;
		border-radius: 50%;
		color: #fff;}
.navbar .right-nav ul .count-course{font-size: 16px;
		position: absolute;
		width: 20px;
		left: 107px;
		text-align: center;
		background-color: #414b4f;
		height: 20px;
		line-height: 20px;
		border-radius: 50%;
		color: #fff;}
.navbar .right-nav ul .cart,.navbar .right-nav ul .course{font-size: 25px;margin-top: 11px;color: #169dd8;    margin-left: 31px;}
.navbar .right-nav ul .profile{background-color: #169dd8;width: 50px;height: 50px;border-radius: 50%;}
.navbar .right-nav .btn{border-radius: 30px;font-size: 16px;background-color: #169DD8;}
.navbar .right-nav .but
{
	border-radius: 30px;
	background-color: transparent;
	font-size: 16px;
	color: #100f0f !important;
	margin-right: 20px;
}
.navbar .right-nav .btn:hover
{
	background-color: #159dd7;
	color:#fff !important;
	border:#159dd7
}
.navbar .lang-swticher 
{
	position: absolute;
    bottom: 0;
	right: 38px;
	margin-right: 30px;
	/* margin-bottom: 20xp; */
    width: 50px;
    height: 54px;
    font-weight: bold;
    background-color: #169DD8;
    color: #fff;
    font-size: 37px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.navbar .dropdown
{
	display: none;
	border-radius: 5px;
	z-index: 9999;
	position: absolute;
    top: 77px;
    left: 26px;
    height: 378px;
    width: 400px;
    background-color: #fff;
}
.navbar .reg-pop
{
	margin-left: 111px;
}
.navbar .dropdown svg{
	position: relative;
	top: 15px;
	right: 15px;
}
.navbar .dropdown h1{margin-top: 10px;color: #707070;}
.navbar .dropdown form
{
	display: block;
	margin: 20px;
}
.navbar .dropdown form input
{
	margin-bottom: 10px !important;
	width: 100%;
    display: inline-block;
    margin: auto;
    text-align: right;
}
.navbar .dropdown form p{font-weight: 300;color: #333;margin-top: 12px;opacity: 0,4 !important;}
.navbar .dropdown form button
{
	width: 180px;
    display: block;
    margin: auto;
    margin-top: 18px;
}
.navbar .dropdown ul{font-size: 29px;margin-left: 160px;}
.navbar .dropdown ul > li 
{
	padding-left: 15px;
	float: left;
}
.header .content
{
	text-align:center;
    padding-bottom: 140px;
    padding-top: 125px;
}

.header .content h2
{
	font-size:35px;
	color:#fff;
	font-family: "helveticaneueltarabic-bold";
	margin-bottom:20px
}

.header .content p
{
	font-size:20px;
	margin-bottom:25px;
	color:#fff;
}

.header .content a
{
	width:370px;
	height:50px;
	margin-bottom:10px;
	background-color:#fff;
	font-family: "helveticaneueltarabic-bold";
	font-size:15px;
	line-height:45px;
	display:block;
	margin:0 auto;
	max-width:100%;
	margin-bottom:10px;
	color:rgb(51, 93, 125)
}

.header .content a:first-of-type
{
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	background-color:#08c65b;
	color:#fff
}
.header .content a:last-of-type
{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px 
} 

/* ------------------------------------------ */
/* start cousese sectoin */
.courses-section
{
	color: #333;
	/* background-color: #333 ; */
	overflow: hidden;
}
.courses-section .list-unstyled{text-align: center;margin: auto;}
.courses-section .list-unstyled .active{border-bottom: 1px solid #333;}
.courses-section .list-unstyled > li{float: right;padding: 20px;margin: auto;cursor: pointer;}
.courses-section .course-links{padding: 20px;}
.courses-section .course-nav
{
	color: #333;
	line-height: 40px;
	border-radius: 20px;
	padding: 10px;
	background-color: #F7F7F7;
	margin: 20px;
}
.courses-section .course-nav > div{display: flex;color: #949599;}
.courses-section .course-nav > div > input{width: 60%;}
.courses-section .course-nav > div > span{padding-right: 15px;}
.courses-section .course-nav .form-control
{
	border-radius: 15px;
	text-align: right;

}
.courses-section .row{
	text-align: center;
	direction: rtl;
}
.courses-section .courses .course
{
	width: 95%;
	margin-bottom: 10px;
}

.courses-section .courses .course .course-img
{
	background-color: #ccc;
	/* width: 280px;` */
	height: 230px;
	/* margin-bottom: 20px; */
}
.courses-section .course-desc
{
	padding-top: 20px;
	/* width: 280px; */
	background-color: #F7F7F7;
}
.courses-section .courses .course .course-desc .course-stage
{
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	color: #169DD8;
}
.courses-section .courses .course .left-des
{
	padding-top: 16px;
	color: #169DD8;
	font-size: 12px;
	text-align: center;
}
.courses-section .courses .course .course-details
{
	padding-right: 20px;
	padding: 13px;
	direction: ltr;
	color: #949599;
}
/* end courses section */
/*         Sections Home
Here we start the cover page*/

.intro
{
	background-image: url('../img/cover.jpg');
	width: 100%;
	height: 80%;
	background-repeat:no-repeat;
	background-position: center center;
}
.intro .right-heading
{
	position: absolute;
    top: 205px;
    right: 332px;
    font-size: 30px;
    color: #fff;
}
.intro .right-heading .first-span
{
	background-color: #fff;
}
.intro .right-prag
{
	position: absolute;
    font-size: 33px;
    top: 200px;
    right: 422px;
    border-bottom: 1px solid;
    color: #fff;
}
.intro .left-prag
{
	position: absolute;
    top: 225px;
    left: 7px;
    color: #fff;
}
.intro .left-prag .btn{background-color: #fff;color:#159DD7;border:none;border-radius: 0;width: 141px;}
/* Guess what we finish the cover page here  */

/* start of the stages  */
.section-stages
{
	/* justify-content: center; */
	margin: auto;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 120px;
}
.section-stages .row .box {
	/* position: relative; */
	float: left;
	/* width: 2%; */
	height: 220px;
	/* margin-left:20px; */
	color: #fff;
	background-color: #00A749;
}
.section-stages .row .box h1
{
	font-size: 50px;
	padding-top: 85px;
	/* font-weight: bold; */
	font-family: 'Droid Arabic Kufi', serif;
  	direction: rtl;
  	/* padding: 5px; */
  	text-align: center;
  	word-spacing: 1px;
}

.section-stages .row .box h1 > svg {
	position: absolute;
    top: 37px;
    right: 43px;
    font-size: 39px;
}
.section-stages .row .green { background-color: #10C45C;}
.section-stages .row .yellow { background-color: #F2BF34;}
.section-stages .row .blue { background-color: #307ad5;}
.section-stages .row .purple { background-color: #D94DA6;}
/* end of stages */


/* start here the bxslider */
.bx-slider
{
	background-color: none;
}
.bx-slider .bxslider .row
{
	float: left;
	width: 100%;
	/* display: block; */
}
.bx-slider .bxslider .row .sub-box
{
	float: left;
	display: block;
	margin-top: 40px;
	margin-left: 30px;
	height: 100%;
}
.bx-slider .bxslider .row .sub-box .square
{
	position: relative;
	text-align: center;
	line-height: 50%;
	color:#fff;
	display: block;
	background-color: #F2BF34;
	width: 200px;
	height: 200px;
}
.bx-slider .bxslider .row .sub-box .square .span-price
{
	position: absolute;
	top: 16px;
    left: -9px;
	background-color: #159dd7;
	border-radius: 8px;
	width: 60px;
	height: 30px;
}
.bx-slider .bxslider .row .sub-box .square .span-price p
{
line-height: 31px;
}
.bx-slider .bxslider .row .sub-box h1 {
	line-height: 165px;
    font-size: 29px;
    text-align: center;
    font-family: 'Droid Arabic Kufi', serif , monospace;
}
.bx-slider .bxslider .row .sub-box-dec 
{
	margin-top: 20px;
	width: 200px;
	font-size: 12px;
}
.bx-slider .bxslider .row .sub-box-dec > p 
{
	text-align: right;
	border-bottom: 1px solid #000;
	padding-bottom: 8px;
	font-family: 'Droid Arabic Kufi', serif;
}
.bx-slider .bxslider .row .sub-box-dec > span 
{
	padding-right: 0px;
	display: inline-block;
}
.bx-slider .bxslider .row .sub-box-dec .left-des
{
	float: left;
	color: #f2bf34;
}
/* End the bxslider */

/* Start the partner */
.partner
{

	text-align: center;
	color:#fff;
	background-color: #159dd7;
	overflow: hidden;
}
.partner .heading 
{
	margin: 50px;
}
.partner .row .col-lg-4 > div 
{
	width: 360px;
	height: 129px;
    border-radius: 24px;
    margin: 20px;
    background-color: #fff;
    overflow: hidden;
}
.partner .row .col-lg-4 > div > img
{
    width: 240px;
    border-radius: 16px;
	height: 130px;
	margin-bottom: 50px;
}
/* end the partner */

/* Start achievements Section Stats */

.statistics {
    background:url('../img/stats.jpg') no-repeat center center fixed;
	min-height:300px;
}

.statistics .data {background-color:rgba(2,2,2,0.8);color:#fff;min-height:300px;margin-top: -10px;}
.statistics .data .h1{margin: 10px 0 50px 0;padding-top: 16px;}
.statistics .stats {margin-bottom:30px}
.row .stats > svg
{
	font-size: 60px;
}
.statistics .stats:hover {color:#FFF}

.statistics p {font-size:60px;font-weight:800;margin-bottom:0}

.statistics span {font-size:18px}

/* End Section Stats achievements */
/* Start Section Subscribe */

.subscribe {background:#EEE;padding: 60px;}

.subscribe .row :nth-child(2){direction: rtl;}

.subscribe p {margin-bottom:30px;font-size: 26px;padding: 12px;}

.subscribe .form-control {border-radius:0;margin-right:0px;width:300px;height: 48px;}

.subscribe button {border-radius:0}

/* End Section Subscribe */
/* start who we are */
.who-us .who-heading{text-align: center;font-size: 80px;box-shadow: #000;box-shadow: 0px 20px 28px -8px rgba(0,0,0,0.51);}
.who-us .container{margin-top: 50px;font-family: cursive;margin-bottom: 30px;}
.who-us .who-logos{margin-bottom: 20px;}
.who-us .who-logo{max-width: 120px;border-right: 1px solid #C6C7CC;padding-right: 5px;}
/* end who we are */
/* start error */
.error .container{background-image: url("../img/404.jpg");width: 100%;background-repeat:no-repeat;background-position: center center;overflow: hidden;}
.error .p{font-size:250px;}
.error .p{font-family: 'Montserrat-Regular', Montserrat;box-sizing: border-box;}
/* end who we are */
/* start student and parent sign up */
.student-sign .heading,.parent-sign .heading{padding: 14px;border-bottom: 1px solid #eee;margin-bottom: 34px;}
.student-sign form > input,.parent-sign form > input{width: 40% !important;margin: auto !important;display: block;text-align: right;margin-bottom: 17px !important;}
.student-sign form > button,.parent-sign form button{background-color: #252526; color: #fff;width: 20%;margin-bottom: 15px;border: none;}
/* end student and parent sign up */
/* start student and parent login*/
.student-login .heading,.parent-login .heading{padding: 14px;border-bottom: 1px solid #eee;margin-bottom: 34px;}
.student-login form > input,.parent-login form > input  {width: 40% !important;margin: auto !important;display: block;text-align: right;margin-bottom: 17px !important;}
.student-login form > button,.parent-login form > button{background-color: #252526; color: #fff;width: 40%;margin-bottom: 15px;border: none;}
.student-login .btn-secondary,.parent-login .btn-secondary{background-color: #C6C7CC !important; border-color:#C6C7CC;color:#646464;}
/* end student and parent Login */
/* start steps page */
.section-steps{color: #fff;text-align: center;margin-top: 20px;direction: rtl;}
/* .section-steps .row .box-height{height: 150px !important;} */
.section-steps .right .box{float: right;}
.section-steps .row .step{color: #f26c00;line-height: 80px;font-size: 80px;width: 85px;margin: auto;height: 80px;background-color: #fff;text-align: center;}
/* end steps page */
/* start my course part */
.My-courses .Mycourse-head{margin-bottom: 34px;padding-bottom: 10px;-webkit-box-shadow: 0px 13px 25px -8px rgba(126,133,133,1);-moz-box-shadow: 0px 13px 25px -8px rgba(126,133,133,1);box-shadow: 0px 13px 25px -8px rgba(126,133,133,1)}
.My-courses .row{width: 100%;margin: auto;margin-bottom: 24px;}
.My-courses .Mycourse-head h1{color: #252526;}
.My-courses .Mycourse-head p{color: #949599;}
.My-courses .progress-section{direction: rtl;background-color: #252526;color: #fff;height: 141px;margin-bottom: 41px;}
.My-courses .progress-section p{text-align: right;margin:1px 37px 20px 0;padding-top: 25px;color:#949599;}
.My-courses .progress-section p .rest-course{float: left;color: #3AA6D5;margin-right: -203px;margin-left: 177px;}
.My-courses .progress-section .progress{background-color: #252526;margin-right: 45px;border-radius:0 !important}
.My-courses .progress-section .progress .empty{background-color: #6F7073;}
.My-courses .progress-section .trophy{font-size: 63px;margin-top: -55px;margin-left: 73px;color: #6F7073;}
.My-courses .video-section .video{width: 1110px;background-color: #C6C6C6;height: 400px;}
.My-courses .video-section .video-detalis{text-align: right;width: 100%;background-color: #F7F7F7;}
.My-courses .video-section .video-detalis .h4{color: #252526;padding: 5px;}
.My-courses .video-section .video-detalis .list-unstyled > li{float: right;padding: 10px;}
.My-courses .video-section .video-detalis .left-des{padding:20px;direction: rtl;}
.My-courses .video-section .video-detalis .left-des > span{color:#159DD7}
/* .My-courses .row .right-desc{background-color: #F7F7F7;height: 100%;} */
.My-courses .row .right-desc .child-desc{text-align: right;background-color: #F7F7F7}
.My-courses .row .right-desc .child-desc .h5{color: #252526;padding:10px;margin-bottom: 0;}
.My-courses .row .right-desc .child-desc ul{float: right;direction: rtl;width: 100%;padding: 0 63px 25px 0;color: #6F7073;}
.My-courses .row .right-desc .child-desc ul li::before {content: "\2022";color: #159DD7;font-weight: bold;font-size: 25px;padding: 5px;}
.My-courses .row .right-desc .child-desc p{padding: 30px;color: #6F7073;}
.My-courses .row .right-desc .lesson-toggler{height: 90px;background-color: #F7F7F7;margin-top: 45px;}
.My-courses .row .right-desc .lesson-toggler > div{width: 50%;}
.My-courses .row .right-desc .lesson-toggler .prev-lesson > p{float: left;padding: 12px;cursor: pointer;}
.My-courses .row .right-desc .lesson-toggler .prev-lesson > p:nth-child(2){padding: 10px;}
.My-courses .row .right-desc .lesson-toggler .prev-lesson > p:nth-child(4){padding: 0 0 0 88px;margin-top: -40px;}
.My-courses .row .right-desc .lesson-toggler .next-lesson > p{float: right;padding: 12px;}
.My-courses .row .right-desc .lesson-toggler .next-lesson > p:nth-child(2){padding: 10px;}
.My-courses .row .right-desc .lesson-toggler .next-lesson > p:nth-child(4){padding: 95px 98px 0 0;margin-top: -131px;cursor: pointer;}
.My-courses .row .right-desc .lesson-toggler .move{background-color: #169DD8;width: 50px;height: 50px;border-radius: 50%;color: #fff;}
.My-courses .row .left-desc .video{width: 100%;height: 240px;}
.My-courses .row .left-desc .price{padding: 40px;background-color: #F7F7F7;width: 100%;}
.My-courses .row .left-desc .price .btn1{background-color: #252526;width: 100%;margin-bottom: 20px;border: none;}
.My-courses .row .left-desc .price .btn2{background-color: #C6C7CC;width: 100%;margin-bottom: 20px;border: none;color: #252526;}
.My-courses .row .left-desc .price .h5{font-size: 35px;padding: 10px;}
.My-courses .row .left-desc .price p{opacity: 0.5;direction: rtl;}
.My-courses .row .left-desc .include {background-color: #F0F0F0;height: 220px;padding: 20px 5px 0 3px;text-align: right;}
.My-courses .row .left-desc .include ul{float: right;direction: rtl;width: 100%;color: #6F7073;}
.My-courses .row .left-desc .include ul li::before {content: "\2022";color: #159DD7;font-weight: bold;font-size: 25px;padding: 5px;}
.My-courses .row .left-desc .contact-links{background-color: #F7F7F7;text-align: center;padding: 10px;}
.My-courses .row .left-desc .contact-links .socialFooter li{display: inline-flex;color: #fff;}
.My-courses .row .left-desc .contact-links .socialFooter li a{background: #F0F0F0;border-radius:50%;display: inline-block;height: 30px;width: 30px;text-align:center;line-height:30px;color: #159DD7;margin-right:10px;}
.My-courses .recommend .container{background-color: #F7F7F7;height: 440px;margin-bottom: 20px;}
.My-courses .recommend .left-rec .container .box{padding-bottom: 50px;cursor: pointer;}
.My-courses .recommend .left-rec .container .box .pic{width: 80px;height: 80px;background-color: #cccccc;float: right}
.My-courses .recommend .left-rec .container .box p{color: #252526;}
.My-courses .recommend .left-rec .container .box .rate{margin-right: 120px;}
.My-courses .recommend .left-rec .container .box .rate > span{float: right;text-align: center;}
.My-courses .recommend .right-rec .head{ direction: rtl;background-color: #4444;padding: 22px;}
.My-courses .recommend .right-rec .card{direction: rtl;cursor: pointer;} 
.My-courses .recommend .right-rec .card .lesson{background-color: #F7F7F7;padding: 20px;margin-bottom: 3px;}
.My-courses .recommend .right-rec .card .lesson:hover{background-color: #3AA6D5;color: #fff;}
.My-courses .ceo .img{height: 100%;float: left;background-color: #C6C6C6;width: 50%;}
.My-courses .ceo .teacher-details{width: 50%;float: right;background-color: #F7F7F7;}
.My-courses .ceo .center{text-align: center;padding: 20px;}
.My-courses .ceo .center ul{display: inline-flex;}
.My-courses .ceo .socialFooter > li {float: right;text-align: center;}
.My-courses .ceo .socialFooter > li  a{background: #ffff;border-radius: 50%;display: inline-block;height: 30px;width: 30px;text-align: center;line-height: 30px;color: #159DD7;margin-right: 10px;}
.My-courses .ceo .socialFooter > li  a:hover{background-color: #159dd7;color: #fff;}
/* end my course part */
/* start course filter */
.courses-section .img-sec{padding: 50px;margin: auto;text-align: center;width: 100%;}
.courses-section .img-sec h1{margin: auto;}
.courses-section .img-sec img{margin: auto;padding: 20px;}
/* .courses-section .primary-stage > div {float: left;} */
.courses-section .primary-stage .search-course{width: 75%;}
.courses-section .primary-stage .search > div{direction: rtl;}
/* .courses-section .primary-stage{direction: rtl;} */
.courses-section .primary-stage .search > div .h6{background-color: #f7f7f7;font-weight: bold;font-size: 25px;padding: 20px;margin-bottom: 0px;color: #424242;}
.courses-section .primary-stage .search .stage{width: 100%;}
.courses-section .primary-stage .search .stage .child{background-color: #f7f7f7;}
.courses-section .primary-stage .search .stage .child .offer .row{padding-bottom: 15px;}
.courses-section .primary-stage .search .stage .price{height: 280px;background-color: #f7f7f7;margin-top: 30px;direction: ltr;position: relative;overflow: hidden;}
.courses-section .primary-stage .search .card{border: none;direction: rtl;width: 100%;background-color: #f7f7f7;}
.courses-section .primary-stage .search .empty{display: none;}
.courses-section .primary-stage .search .card .card-body .lesson{background-color: #F7F7F7;color: #949599;padding: 8px;cursor: pointer;}
.courses-section .primary-stage .search .card .card-body .lesson:hover{background-color: #159DD7;color: #fff;}
.courses-section .primary-stage .recommend {margin-top: 20px;margin-bottom: 20px;background-color: #f7f7f7;}
.courses-section .primary-stage .recommend  .container .box{padding-bottom: 50px;}
.courses-section .primary-stage .recommend  .container .box .pic{width: 80px;height: 80px;background-color: #cccccc;float: right}
.courses-section .primary-stage .recommend  .container .box p{color: #252526;}
/* end course filter */
/* start my course progress */
.course-progress{padding: 50px;}
.course-progress .container{padding: 20px;background-color: #F7F7F7;margin-bottom: 20px;width: 894px;}
.course-progress .row{direction:rtl;text-align: right;}
.course-progress .image, .course-basket .image{width: 120px;background-color: #949599;height:120px;margin-left:30px;margin-bottom: 15px;}
.course-progress .desc .h1, .course-basket .desc .h1{color:#252526;}
.course-progress .desc p, .course-basket .desc p{color:#949599;font-size: 18px;}
.course-progress .info button{width: 120px;}
.course-progress .info{	margin-top: 31px;font-size: 23px;color: #212529;}
/* End my course progress */
/* Start course basket section */
.course-basket{padding: 50px;}
.course-basket .container{width: 965px;}
.course-basket .row{direction: rtl;text-align: right;}
.course-basket .products{background-color:#F7F7F7 ;margin-bottom: 20px;}
.course-basket .product{border-top: 1px solid #949599;padding-top: 20px;border-right: none;border-left: none;}
.course-basket .delete{font-size: 20px;margin-top:30px;color:#949599;cursor: pointer;}
.course-basket .shop > div{background-color: #f7f7f7;}
.course-basket .shop .h4{padding:20px}
.course-basket .shop .price{border-bottom:1px solid #949599;}
.course-basket .shop .price .discount{opacity: 0.3;}
.course-basket .shop .coupon{border-bottom: 1px solid #fff;padding-bottom: 30px;margin-top: 30px;}
.course-basket .shop .coupon input{display: inline-block;box-sizing: border-box;width: 60%;}
.course-basket .shop .coupon .btn{border: none;}
/* End Course basket section */
/* start payment page */
.payment {margin-top: 40px;}
.payment .heading{margin-bottom: 20px;}
.payment .cc-img{    width: 310px;
    margin-bottom: 20px;}
.payment .col{width: 507px;padding: 20px;margin: auto;background: #F7F7F7;margin-bottom: 20px;}
.payment  .line {float: right;width: 100%;display: inline-block;}
.payment .line > p, .payment  .line > input{float: right;color: #949599;line-height: 200%;text-align: right;padding-left: 40px;width: 135px;}
.payment  .line > input{    width: 60% !important;
    margin-bottom: 17px !important;}
.payment .row button{background-color: #252526; color: #fff;width: 20%;margin-bottom: 15px;}
.payment .col .row{border-top: 1px solid #fff;padding: 20px;margin-top: 10px;}
.payment .col .row .img-responsive{height: 50px;}
.payment  .method{margin: auto;
    width: 131px;
    margin-top: 20px;
}
/* end payment page */
/* start team work section */
.team-work ul{margin: auto;width: 394px;display: flex;direction: rtl;margin-bottom: 20px;}
.team-work ul li{float: right;overflow: hidden;padding: 16px;font-size: 23px;cursor: pointer;}
.team-work ul .active{border-bottom: 1px solid;color: #169dd8;}
.team-work .row > div{-webkit-box-shadow: 0px 13px 30px 0px rgba(213,223,224,1);
	-moz-box-shadow: 0px 13px 30px 0px rgba(213,223,224,1);
	box-shadow: 0px 13px 3px 0px rgba(213,223,224,1);
margin-bottom: 60px;}
.team-work .row > div .img{height: 120px;width: 120px;border-radius: 50%;background-color: #BFC5CA; margin: auto;margin-top: 10px;}	
.team-work .row > div .prag{color: #333333;text-align: center;font-size: 20px;margin-top: 10px;}
.team-work .row .socialFooter{    margin: auto;width: 172px;display: flex;direction: rtl;margin-bottom: 20px;}
/* End team work section */
/* start parent settings */
.parent-setting{padding: 100px;}
.parent-setting .row{direction: rtl;}
.parent-setting .row .inside{width: 320px !important;background-color: #F7F7F7; margin-bottom: 30px;padding-bottom: 20px;}
.parent-setting .row .inside .img{width: 320px;height: 320px;background-color: #C6C6C6;}
.parent-setting .row .inside .parent-details{text-align: right;}
.parent-setting .row .inside .parent-details .h5{text-align: right;padding: 20px;color: #252526;}
.parent-setting .row .inside .parent-details p{margin-top: -23px;margin-right: 56px;color: #C6C6C6;margin-bottom: 21px;}
.parent-setting .row .inside .links .icon{text-align:right;margin-right: 10px;width: 50%;float: right;}
.parent-setting .row .inside .links .text{text-align:left;margin-left: 14px;}
.parent-setting .row .inside .taps ul{text-align: right;}
.parent-setting .row .inside .taps ul .active{color: #000;background-color: #E6E6E6;}
.parent-setting .row .inside .taps ul li{color: #C6C6C6;padding: 15px;cursor: pointer;}
.parent-setting .row .inside .btn{margin: auto;display: flex;margin-top: 15px;}
.parent-setting .row .profile-overview{text-align: justify;background-color: #F7F7F7;padding: 27px;margin-top: 200px;margin-bottom: 20px;}
.parent-setting .row .profile-overview .tap .active{background-color: #159DD7;}
.parent-setting .row .profile-overview .tap > div{line-height: 42px;width: 100px;height: 100px;margin-left: 20px;float: right;background-color: #C6C7CC;text-align: center;color: #252526;font-size: 23px;cursor: pointer;}
.parent-setting .row .profile-overview .tap > div > p{font-size: 50px;color: #fff;}
.parent-setting .row .profile-overview .bio{margin-bottom: 20px;}
.parent-setting .row .profile-overview .bio .h4{color: #252526;margin-top: 20px;}
.parent-setting .row .profile-overview .bio p{color: #6F7073;margin-right: 32px;}
.parent-setting .row .profile-overview .email .mail{color:#252526;font-size: 20px;}
.parent-setting .row .profile-overview .email > span{color:#6F7073 ;}
.parent-setting .row .profile-overview .profile > span{color: #252526;font-size: 20px;}
.parent-setting .row .profile-overview .profile .socialFooter{float: left;margin-left: 280px;font-size: 27px;}
.parent-setting .row .profile-overview .profile .socialFooter li{display: inline;}
.parent-setting .row .myChildren .container{padding: 20px;background-color: #F7F7F7;margin-bottom: 20px;}
.parent-setting .row .myChildren .row{direction:rtl;text-align: right;}
.parent-setting .row .myChildren .image{width: 110px;background-color: #949599;height:110px;margin-bottom: 40px;}
.parent-setting .row .myChildren .desc .h1{color:#252526;}
.parent-setting .row .myChildren .desc p{color:#949599;font-size: 18px;}
.parent-setting .row .myChildren .info button{width: 120px;}
.parent-setting .row .myChildren .info{	margin-top: 31px;font-size: 23px;color: #212529;}
.parent-setting .row .profile-setting .form-inline{width: 700px;background-color: #F7F7F7;padding: 20px;}
.parent-setting .row .profile-setting .form-inline > input{width: 47%;margin-bottom: 6px;margin-top: 8px;margin-left: 19px;border: none;}
.parent-setting .row .profile-setting .form-inline > textarea{width: 97%;border: none;height: 94px;margin-top: 10px;margin-bottom: 10px;}
.parent-setting .row .profile-setting .form-inline .gender,.parent-setting .row .profile-setting .form-inline .selectsSing{width: 50%;text-align: right;}
.parent-setting .row .profile-setting .form-inline .gender select{width: 170px;border-radius: 7px;border:none}
.parent-setting .row .profile-setting .form-inline .selectsSing select{width: 95px;border-radius: 7px;border:none;padding-left: 3px;margin-left: 7px;}
.parent-setting .row .profile-setting .form-inline .h5{width: 100%;text-align: right;}
.parent-setting .row .profile-overview,
.parent-setting .row .myChildren,
.parent-setting .row .profile-setting{
	-webkit-transition: all .5s ease-in-out;
	-moz-webkit-transition: all .5s ease-in-out;
	-o-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
/* End parent settings */

/* start our study meet page layouts */
.study-meet{background-image: url('../img/shutterstock.jpg');width: 100%;height: 45%;background-repeat:no-repeat;background-position: center center;}
.study-meet .overlay{background-color: rgba(59, 67, 76, 0.8);width: 100%;height: 100%;}
.study-meet .head .h1{float: right;color: #fff;font-weight: bold;margin-top: 54px;text-align: right;}
.study-meet .head .h1 span{font-weight: 300;color: #fff;opacity: 0.8}
.study-meet .head .img{float: left;margin-top: 38px;width: 490px;}
/* -------- */
.study-features{background-image: url('../img/meetgroup.jpg');width: 100%;height: 45%;background-repeat:no-repeat;background-position: center center;}
.study-features .overlay{background-color: rgba(21, 157, 215, 0.8);width: 100%;height: 100%;}
.study-features .head .h1{float: right;color: #fff;font-weight: bold;margin-top: 54px;text-align: right;}
.study-features .head .span{font-weight: bold;color: #fff;font-size: 38px;margin-top: 86px;float: right;border-top: 1px solid #FDC735;margin-right: -106px;}
.meet-features .row > div{margin-top: 30px;margin-bottom: 20px;}
.meet-features .row > div .img{height: 120px;width: 120px;border-radius: 50%;color: #fff;background-color: #159DD7;margin: auto;line-height: 120px;font-size: 45px;position: relative;margin-bottom: -35px;}	
.meet-features .row > div .prag .h2{color: #159DD7 ;}
.meet-features .row > div .prag{background-color: #fff;padding: 35px;color: #000;border-radius: 8px;box-shadow: -1px -1px 30px -6px rgba(188,194,194,1);}
.meet-features .row > div .prag p{font-family: 'Times New Roman', Times, serif;text-align: center;font-size: 20px;margin-top: 10px;}
/* end our study meet page layouts */
/* star our invite page  */
.invite .h1{box-shadow: 0px 10px 14px 0px rgba(138,130,138,1);padding: 30px;}
.invite .container{padding: 50px;}
.invite .row{margin: auto;text-align: right;width: 400px;}
.invite .row form > input{border: none;border-radius: 0;margin-bottom: 11px;border-bottom: 1px solid #007bff;margin-top: 13px;}
.invite .row form > div{width: 100%;text-align: center;}
.invite .row form > div > p{padding: 10px 0 10px 0;}
.invite .row form > div > .btn{width:175px;border-radius: 8px;display: block;margin: auto;}
/* End our invite page */
/* start our services page  */
.service-term .heading,.partner-term .heading{text-align: center;background-color: #169dd8;color: #fff;height: 120px;box-shadow: #169dd8;box-shadow: 0px 20px 28px -8px rgba(0,0,0,0.51);}
.service-term .heading .h1,.partner-term .heading .h1{line-height: 120px;}
.service-term .container,.partner-term .container{text-align: right;}
.service-term .container .h4,.partner-term .container .h4{padding-top: 40px;padding-bottom: 25px;}
/* End our services page  */
.One-card .heading{background-image: url('../img/deposit.jpg');background-repeat:no-repeat;background-position: center center;background-size:cover!important;height: 200px;}
.One-card .center-head{position: relative;font-size: 30px;z-index: 1;overflow: hidden;text-align: center;color: #000;padding: 20px;}
.One-card .center-head .h4{padding-top: 14px;}
.One-card .center-head::before,.One-card .center-head::after{position: absolute;top: 51%;overflow: hidden;width: 50%;height: 4px;content: '\a0';background-color: #FFD328;}
.One-card .center-head::before{margin-left: -866px;}
.One-card .center-head::after{margin-left: 14%;}
.One-card .container .card-pay{text-align: center;position: relative;border-bottom: 4px solid #FFD328;padding-bottom: 20px;margin-bottom: 20px;}
.One-card .container .card-pay > img{width: 180px;}
.One-card .container .card-pay::after{top: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-top-color: #FFD328;border-width: 30px;margin-left: -30px;}
.One-card .container .feat{text-align: right;}
.One-card .container .feat .span{background-color: #000;color: #fff;width: 100px;float: right;font-size: 50px;line-height: 100px;}
.One-card .container .feat span{margin-right: 22px;line-height: 100px;}
.One-card .container .feat .pay{display: block;height: 120px;}
/* End our services page */
/* Start our eductional services */
/* .head{box-shadow: 0px 20px 28px -8px rgba(0,0,0,0.51);padding: 50px;} */
.educational-features .row > div{margin-top: 30px;margin-bottom: 20px;}
.educational-features .row > div .img{height: 120px;width: 120px;border-radius: 50%;color: #fff;background-color: #159DD7;margin: auto;line-height: 120px;font-size: 45px;position: relative;margin-bottom: -35px;}	
.educational-features .row > div .prag .h2{color: #159DD7 ;}
.educational-features .row > div .prag{background-color: #fff;padding: 35px;color: #000;border-radius: 8px;box-shadow: -1px -1px 30px -6px rgba(188,194,194,1);}
.educational-features .row > div .prag p{font-family: 'Times New Roman', Times, serif;text-align: center;font-size: 20px;margin-top: 10px;}
/* End our educational services */
/* Start our partner page */
.partner-term .partners-logos .img{    margin: auto;text-align: center;padding: 20px;width: 300px;background-color: #169dd8;border-radius: 16px;}
.partner-term .partners-logos .img img{width: 250px;border-radius: 14px;}
/* End our partner page */
/* start about us page */
.about-us .row{margin: 70px;direction: rtl;}
.about-us .row .gal{background-color: #F7F7F7;color: #000;padding: 0;height: 395px;}
.about-us .row .gal .gallery h1{border-bottom: 1px solid #000;padding: 15px;}
.about-us .row .gal .gallery p{padding: 10px;border-bottom: 1px solid #000;cursor: pointer;}
.about-us .row .press{text-align: right;}
.about-us .row .press h1 {border-bottom:3px solid #100f0f;padding: 15px;}
.about-us .row .press .new .img{float:right;margin-top: 20px;}
.about-us .row .press .new .img img{width: 120px;height: 120px;}
.about-us .row .press .new .info{float: left;text-align: right;width: 470px;}
.about-us .row .press .new .info .h4{margin-top: 25px;}
/* End about us page */
/* Start our contact us page layouts */
.contact-us{padding: 50px;}
.contact-us .row{direction: rtl;text-align: right;padding: 20px;}
.contact-us .row .description{border-bottom: 1px solid #000;padding: 10px;margin-bottom: 10px;opacity: 0.4;}
.contact-us .line-title{margin-top: 10px;}
.contact-us .row .contact-phone{padding:15px;border-bottom: 1px solid #000;text-align: right;}
/* End our contact page layouts */
/* ------------------------------------------ */   
/* ------------------------------------------ */

.footer
{
	padding-top:75px ;
	background-color:#414b4f;
	color: #fff;
}

.footer .top
{
	margin-bottom:50px
}
.footer .top .contact-links
{
	float: right;
    margin-right: 40px;
    margin-top: 12px;
}
.footer .parg
{
    color: #fff;
    font-size: 15px;
    line-height: 30px;
	width: 85%;
	text-align: right;
	float: right;
	margin-right: 25px;
    margin-bottom: 5px;
}

.footer .parg a
{
	font-family: "helveticaneueltarabic-bold";
	color:#00652c;
}

.footer .title
{
	font-family: "helveticaneueltarabic-bold";
	font-size:15px;
	color:#fff;
	margin-top:8px;
	margin-bottom:20px
}

.footer  .subjects a
{
	color:#fff;
	font-size:15px;
	margin-bottom:10px;
	display:inline-block;
}

.footer  .subjects a:hover
{
	text-decoration: underline!important
}

.footer .lang 
{
	margin-bottom:20px;
}

.footer .lang span
{
	float:left;
	margin-left:10px;
	color:#fff;
	margin-top:7px;
	font-size:13px
}

.footer .lang select
{
    height: 37px;
    border-radius: 3px;
    padding: 0 10px;
    width: 145px;
    cursor: pointer;
    background-color: #414b4f;
    color: #fff;
    /* border: none; */
    margin-left: 10px;
    float: right;
    padding-bottom: 11px;
}

.footer .lang a
{
	float:right;
	color:#fff;
	margin-top:7px;
	font-family: "helveticaneueltarabic-bold";
	font-size:13px
}

.footer .footerDown
{
	padding:20px 0;
	background-color:#159DD7;
	text-align:center;
}


.footer .footerDown p
{
	/* float:right; */
	font-size:12px;
	text-align: center;
	color:#fff;
	margin-left:15px;
	margin-top: 4px;
}

.footer .footerDown a.link
{
	/* float:right; */
	font-size:13px;
	color:#fff;
	margin-left:10px;
	margin-top: 4px;
}

.footer .footerDown a.link:hover
{
	text-decoration: underline!important
}

.footer .footerDown .socialFooter
{
	width: 246px;
    margin-top: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.footer .footerDown .socialFooter li
{
	float:left;
}

.footer .footerDown .socialFooter li a
{
	background: #fff;
	border-radius:50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align:center;
    line-height:30px;
	color: #159DD7;
	margin-right:10px;
}
.footer .rights{
	background-color: #1c1c1c;
	padding: 3px;
}

.footer .footerDown .socialFooter li a:hover{opacity:0.8}

/* ------------------------------------------ */
/*         Login
/*         Parent
/* ------------------------------------------ */

.secondBar
{
	padding:15px 0;
	border-bottom:1px solid #eee;
	background-color:#F7F7F7
}

.secondBar h2
{
	font-size:22px;
	color:#08c65b;
	float:right;
	font-family: "helveticaneueltarabic-bold";
}

.secondBar a
{
	float:left;
	color:#969696;
	margin-right:15px;
	font-family: "helveticaneueltarabic-bold";
	font-size:15px;
	margin-top:3px
}

.secondBar a:hover
{
	color:#00A749
}

.tabsParent
{
	padding:50px 0;
	background-color:#f3f3f3
}

.tabsParent .container
{
	background-color:#fff;
	padding:0
}

.tabsParent .title
{
	text-align:center;
	font-family: "helveticaneueltarabic-bold";
	padding:15px 0 20px;
	font-size:25px;
	border-bottom:1px solid #eee
}

.tabsParent .btns-tabs
{
	padding:50px 20px 0 0
}

.tabsParent .btns-tabs li
{
	margin-bottom:15px
}

.tabsParent .btns-tabs a
{
	height:50px;
	display: table-cell;
    vertical-align: middle;
	padding-right:55px;
	position:relative;
	cursor:pointer;
	font-family: "helveticaneueltarabic-bold";
	color:#000
}

.tabsParent .btns-tabs a i
{
    width:40px;
    right:0;
    position:absolute;
    top:4px;
    border:2px solid #a5a5a5;
    color:#a5a5a5;
    border-radius:50%;
    height:40px;
    line-height:35px;
    text-align:center
}

.tabsParent .btns-tabs a.active
{
	color:#a5a5a5
}

.tabsParent .btns-tabs a.active i
{
	border-color:#08C65B;
	color:#fff;
}

.tabsParent .btns-tabs a.active i:before
{
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    color: #08C65B;
    font-size: 20px;
    margin-left: 1px;
    margin-top: 9px;
    display: block;
}

.tabsParent .tabs 
{
	background-color:#08c65b;
	padding:80px 20px 30px;
	text-align:center;
	min-height:400px
}

.tabsParent .tabs .tab:not(:first-of-type)
{
	display:none
	
}

.tabsParent .tabs h3
{
	font-family: "helveticaneueltarabic-bold";
	color:#fff;
	font-size:30px;
	margin-bottom:30px;
}

.tabsParent .tabs p
{
	color:#fff;
	font-size:16px;
	line-height:30px;
	margin-bottom:20px
}

.tabsParent .tabs a
{
	width:200px;
	border-radius:30px;
	background-color:#fff;
	color:#000;
	font-family: "helveticaneueltarabic-bold";
	margin:0 auto;
	line-height:35px;
	height:40px;
	display:block;
	font-size:16px;
}


.addChild 
{
	padding:40px 0;
	background-color:#f3f3f3
}

.addChild  .add
{
	padding:105px 20px;
	text-align:center;
	border:2px dashed #D3D6DA
}

.addChild  .add a
{
	background-color:#08c65b;
	color:#fff;
	width:250px;
	max-width:100%;
	margin:0 auto;
	height:50px;
	line-height:48px;
	display:block;
	font-family: "helveticaneueltarabic-bold";
	font-size:18px;
}

.addChild  .child
{
	background-color:#fff
}

.addChild  .child .title
{
	border-bottom:1px solid #eee;
	padding:15px  20px;
	color:#08c65b;
	font-family: "helveticaneueltarabic-bold";
	font-size:25px;
}

.addChild  .child .title i
{
	font-size:35px;
	margin-left:10px
}

.addChild  .child .details
{
	padding:30px 20px
}


.addChild  .child .details .right
{
	float:right;
	padding-top:15px
}

.addChild  .child .details .right h3
{
	font-size:20px;
	margin-bottom:15px;
	font-family: "helveticaneueltarabic-bold";
}

.addChild  .child .details .right p
{
	font-size:16px;
	margin-bottom:20px
}

.addChild  .child .details img
{
	float:left
}

.addChild  .child a
{
	background-color:#08c65b;
	color:#fff;
	max-width:100%;
	margin:0;
	height:45px;
	line-height:40px;
	display:inline-block;
	padding:0 30px;
	font-family: "helveticaneueltarabic-bold";
	font-size:15px;
}

/* ------------------------------------------ */
/*         CreateChild
